<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>audi</string>
		<key>imageName</key>
		<string>audi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BMW</string>
		<key>imageName</key>
		<string>BMW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>mazda</string>
		<key>imageName</key>
		<string>mazda</string>
	</dict>
	<dict>
		<key>name</key>
		<string>honda</string>
		<key>imageName</key>
		<string>honda</string>
	</dict>
	<dict>
		<key>name</key>
		<string>skoda</string>
		<key>imageName</key>
		<string>skoda</string>
	</dict>
	<dict>
		<key>name</key>
		<string>subaru</string>
		<key>imageName</key>
		<string>subaru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>jaguar</string>
		<key>imageName</key>
		<string>jaguar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>nissan</string>
		<key>imageName</key>
		<string>nissan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>opel</string>
		<key>imageName</key>
		<string>opel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>volkswagen</string>
		<key>imageName</key>
		<string>volkswagen</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bentley</string>
		<key>imageName</key>
		<string>bentley</string>
	</dict>
</array>
</plist>
