<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSONandMaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD3E64D11BB69A2900625AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD3E64ED1BB69A2900625AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD3E64F81BB69A2900625AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
